.header {
   background: $off-black;
   color: white;
   margin-bottom: $xl-size;
   padding: $m-size 0;
}

// Block Element Modifier (BEM) Naming convention
// The block is the core building block e.g. the header
// The element are the things that go inside of that block to make them useful.
// We use block and elements together to target everything in our application.
.header__title {
   font-size: $l-size;
   margin: 0;
}

.header__subtitle {
   color: $off-white;
   font-size: $m-size;
   font-weight: 500;
   margin: 0;
}