.text-input {
   border: 1px solid #cacccd;
   font-size: $font-lg-size;
   font-weight: 300;
   height: 50px;
   padding: $s-size;
}

.text-area {
   @extend .text-input;
   height: 10rem;
}

.select {
   @extend .text-input;
}